.cardContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 100%;
}
.toolbar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: rgb(255, 239, 220);
}
.toolbar * {
  font-size: 2rem;
}
.add {
  display: flex;
  flex: 1 1 0;
}
.actions {
  display: flex;
  justify-content: center;
  flex: 1 1 0;
}
.actions > *, .add > * {
  flex: 1 1 100%;
}
input {
  width: 200px;
  background-color: rgba(0,0,0,0.1);
}
input, button {
  padding: 0.5em;
  border: none;
  outline: none;
}

input:focus, button:hover {
  background-color: rgba(0,0,0,0.2);
}

button {
  cursor: pointer;
}
button:disabled {
  cursor: default;
  background-color: rgb(146, 146, 146);
}
.action {
  color: white;
  background-color: black;
}
.action.new {
  background-color: rgb(13, 51, 77);
}
.action:hover, .action.new:hover{
  color: black;
  background-color: rgba(0,0,0,0.2);
}
.toolbar, .cards {
  flex-basis: 100%;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
}
a button {
  width: 100%;
}