.cardContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 100%;
}
.adder {
  display: flex;
  justify-content: center;
  background-color: rgb(255, 239, 220);
}
.adder * {
  font-size: 1.5rem;
}
input {
  width: 200px;
  background-color: rgba(0,0,0,0.1);
}
input, button {
  padding: 0.5em;
  border: none;
  outline: none;
}

input:focus, button:hover {
  background-color: rgba(0,0,0,0.2);
}

button {
  cursor: pointer;
}
.action {
  color: white;
  background-color: black;
}
.action.new {
  background-color: rgb(13, 51, 77);
}
.action:hover, .action.new:hover{
  color: black;
  background-color: rgba(0,0,0,0.2);
}
.adder, .cards {
  flex-basis: 100%;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
}